@font-face {
    font-family: 'TangerineBold';
    src: url('fonts/tangerine/Tangerine_Bold-webfont.eot');
    src: url('fonts/tangerine/Tangerine_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tangerine/Tangerine_Bold-webfont.woff') format('woff'),
         url('fonts/tangerine/Tangerine_Bold-webfont.ttf') format('truetype'),
         url('fonts/tangerine/Tangerine_Bold-webfont.svg#TangerineBold') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Reset CSS */
.ringnes,
.tuborg,
.carlsberg,
.budweiser,
.heinecken,
.fosters {display: none;}


/**
 * Reset - Will set the default styles in "all" browsers to more or less the same state.
 * Inspired by: http://developer.yahoo.com/yui/reset/
 **/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, header, footer, section, article, nav, aside  {
    margin:0;
    padding:0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;
    font-weight:normal;
}

fieldset, img, abbr, acronym {
    border:0;
}

h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}

caption, th {
    text-align:left;
}

ol, ul {
    list-style:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

img {
    display: block;
}



/* HTML5 Shim for older IE */
header, footer, section, article, nav, aside {
    display: block;
}



/* Default values */
body {
    font-family: DejaVu Sans, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #666666;
}

p {
    line-height: 20px;
}





body > header,                      /* Header          */
body > section,                     /* Page containers  */
body > footer {                     /* Footer          */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 760px;
}

body > header {
    margin-top: 40px;
    height: 60px;
}

body > header h1 {
    font-family: TangerineBold, Helvetica, Arial, sans-serif;
    font-size: 4em;
    text-shadow: 2px 2px 2px #333;
    color: #fff;
    float: right;
}

body > section {
    height:             425px;
    margin-top:         10px;
    border-radius:      10px;
    background-image:   url(../gfx/trygve-lie.jpg);
    background-repeat:  no-repeat;
}

body > section > h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

body > section > p {
    position: relative;
    top: 355px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    height: 50px;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
}