/*
    Compress with: http://www.csscompressor.com/
*/

/* Tji hi.... ;-) */
.budweiser,
.ringnes,
.tuborg,
.carlsberg,
.heineken,
.corona,
.sol,
.stellaartois,
.fosters,
.becks {
    display: none;
}


/* Normalize misc elements */
body, div, p, header, footer, section, article, nav {
    margin:                 0;
    padding:                0;
}



/* HTML5 Shim for older IE */
header, section, article, time, nav, footer {
    display:                block;
}



/* Default values */
body {
    font-family:            Georgia;
    font-size:              100%;                                                               /* ~16px; */
    line-height:            1.5;
    background-color:       rgb(227, 225, 216);
}

h1,
h2 {
    font-weight:            normal;
    color:                  rgb(51,51,51);
    line-height:            1.2;
    margin:                 0 0 7px;
}

h1 {                        font-size: 2.1em; }
h2 {                        font-size: 1.4em; }

p {
    color:                  rgb(51,51,51);
    margin-bottom:          1.5em;
}

.img {
    display:                block;
    width:                  618px;
    height:                 408px;
    background-color:       rgb(250,250,250);
    border:                 1px solid rgb(153,153,153);
    margin-bottom:          1.5em;
    border-radius:          3px;
    background-repeat:      no-repeat;
    background-position:    50% 50%;
}

a {color:                   rgb(70,115,145);}



/* Page Banner - .b = acronym for "banner" */
.b {
    text-align:             center;
}

.b a {
    text-decoration:        none;
    color:                  rgb(51,51,51);
    font-size:              3.1em;
}



/* Main content - .m = acronym for "main" */
.m header p,
.m footer p {
    font-size:              0.875em;
    margin-bottom:          1em;
    line-height:            1.4em;
}

section.m article header,
article.m header {
    border-bottom:          1px solid rgb(153,153,153);
    margin-bottom:          35px;
}

.m time {
    position:               relative;
    top:                    10px;
    width:                  150px;
    margin:                 auto;
    font-size:              0.875em;
    text-align:             center;
    color:                  rgb(153,153,153);
    background-color:       rgb(227, 225, 216);
}

.m a {
    text-decoration:        none;
    color:                  rgb(51,51,51);
}

.m a:hover span {
    opacity:                .85;
}

.m a:hover h1 {
    text-decoration:        underline;
}

.m p a {
    text-decoration:        underline;
    color:                  rgb(70,115,145);
}

.m footer {
    border-top:             1px solid rgb(153,153,153);
    padding-top:            25px;
}


/* Navigation  - .n = acronym for "navigation" */
.n {
    text-align:             center;
    border-top:             1px solid rgb(153,153,153);
    padding-top:            25px;
}

.n a {
    background-color:       rgb(204,204,204);
    padding:                5px 7px 5px 7px;
    color:                  rgb(0,0,0);
    text-decoration:        none;
    border-radius:          3px;
}

.n a:hover {
    background-color:       rgb(153,153,153);
    color:                  rgb(255,255,255);
}



/* Document footer - .i = acronym for "information"  */
.i {
    color:                  rgb(153,153,153);
    font-size:              0.689em;
    line-height:            1.7;
    border-top:             1px solid rgb(153,153,153);
    padding-top:            25px;
}



/* Page width values */
.b,
.m,
.n,
.i {
    margin:                 25px auto 25px auto;
    width:                  620px;
}


@media all and (max-width: 620px) {
    .b,
    .m,
    .n,
    .i {
        width:              90%;
    }


    .img {
        width:                  auto;
        height:                 300px;
    }
}