@font-face {
    font-family: 'TangerineBold';
    src: url('fonts/tangerine/Tangerine_Bold-webfont.eot');
    src: url('fonts/tangerine/Tangerine_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tangerine/Tangerine_Bold-webfont.woff') format('woff'),
         url('fonts/tangerine/Tangerine_Bold-webfont.ttf') format('truetype'),
         url('fonts/tangerine/Tangerine_Bold-webfont.svg#TangerineBold') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Reset CSS */
.ringnes,
.tuborg,
.carlsberg,
.budweiser,
.heinecken,
.fosters {
                        display: none;
}

body, div, h1, h2, p, header, footer, section, article, nav {
    margin:             0;
    padding:            0;
}

h1, h2 {
    font-weight:        normal;
}



/* HTML5 Shim for older IE */
header, footer, section, article, nav {
    display:            block;
}



/* Default values */
body {
    font-family:        DejaVu Sans, Verdana, Arial, Helvetica, sans-serif;
    font-size:          100%;                                                               /* ~16px; */
    line-height:        1.6;
}

p {
    font-size:          0.875em;                                                            /* ~14px; */
}

header {
    margin-top:         30px;
    margin-bottom:      10px;
    height:             60px;
    border-bottom:      10px solid #000;
}

header h1 {
    font-family:        TangerineBold, Helvetica, Arial, sans-serif;
    font-size:          5em;
    float:              right;
}

header h1 a {
    text-decoration:    none;
    color:              #000;
}



#f > article,
#a > div {
    height:                 450px;                                                          /* Overrided in views */
    margin-bottom:          10px;
    background-repeat:      no-repeat;
    background-position:    center;
}

#f > article a {
    text-decoration:    none;
}

#f > article h1 {
    position:           relative;
    top:                320px;
    font-family:        TangerineBold, Helvetica, Arial, sans-serif;
    font-size:          4em;
    height:             65px;
    color:              #fff;
    padding-left:       10px;
}

#f > article p {
    position:           relative;
    top:                320px;
    background-color:   #000;
    background-color:   rgba(0, 0, 0, 0.7);
    color:              #fff;
    padding:            10px;
    height:             45px;
}

#f > div,
#a > article {
    border-top:         10px solid #000;
    border-bottom:      10px solid #000;
    margin-top:         10px;
    margin-bottom:      10px;
    padding-top:        10px;
}

section {
    float:              left;
    width:              380px;
}

section ~ section {
    float:              right;
}

section h1 {
    font-family:        TangerineBold, Helvetica, Arial, sans-serif;
    font-size:          2.8em;
}

section p {
    margin-bottom:      10px;
}

footer {
    margin-bottom:      30px;
    font-size:          0.8em;
    color:              #999;
}

footer small {
    width:              80%;
    float:              left;
}

footer nav {
    width:              20%;
    float:              right;
    text-align:         right;
}





#a article {
    border-bottom:      10px solid #000;
    margin-bottom:      10px;
}

#a article h1 {
    font-family:        TangerineBold, Helvetica, Arial, sans-serif;
    font-size:          4em;
}

#a article h2 {
    font-family:        TangerineBold, Helvetica, Arial, sans-serif;
    font-size:          2.2em;
    margin-top:         20px;
}

#a article p {
    margin-bottom:      10px;
}

#a article time {
    display:            block;
    float:              right;
    margin-bottom:      10px;
}




/* Variables changing between each view */
header, article, div, footer {
    overflow:           hidden;
    /*
    margin-left:        auto;
    margin-right:       auto;
    */

    width:              780px;
}


@media all and (max-width: 780px) {
    header, article, div, footer {
        width:          100%;
    }
}

@media all and (max-width: 480px) {
    header, article, div, footer {
        width:          100%;
    }

    #f > article,
    #a > div {
        height:         277px;
    }
}

@media all and (max-width: 320px) {
    header, article, div, footer {
        width:          96%;
    }

    #f > article,
    #a > div {
        height:         185px;
    }
}